.load {
    animation: loadd 100ms linear   ;
    text-align: center;
}
@keyframes loadd {
    from {
        transform: scale(.9);
        opacity: 0;
    }
}
.cimg {
    background-color: rgba(255, 0, 0, 0);
    margin: auto;
}