@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --imagemB: url("/completo-brasao-lagoa.webp");
}

.fundoImprimir {
  background-image: url('/brasao-lagoa-dos-patos-mg.webp');
  background-repeat: no-repeat;
  background-size: 730px;
  background-position: center;

  /* quanto menor o alfa, mais transparente fica a IMAGEM */
  background-color: rgba(255, 255, 255, 0.897);
  background-blend-mode: lighten;
}

.btl {
  background-image:  url('/brasao-lagoa-dos-patos-mg.webp');
  width: 22px;
  height: 22px;
  position: absolute;
  background-size: cover;
  top: 0;
  z-index: 999;
  left: 0;
}

.btr {
  background-image:  url('/brasao-lagoa-dos-patos-mg.webp');
  width: 22px;
  height: 22px;
  position: absolute;
  background-size: cover;
  top: 0;
  z-index: 999;
  right: 0;
}

.bbb {
  background-image:  url('/brasao-lagoa-dos-patos-mg.webp');
  width: 22px;
  height: 22px;
  position: absolute;
  background-size: cover;
  bottom: 0;
  z-index: 999;
  left: 0;
}

.bbt {
  background-image:  url('/brasao-lagoa-dos-patos-mg.webp');
  width: 22px;
  height: 22px;
  position: absolute;
  background-size: cover;
  bottom: 0;
  z-index: 999;
  right: 0;
}



.border-frame {
    position: relative;
    padding: 30px;
}

.border-frame::before,
.border-frame::after,
.border-frame > .left-border,
.border-frame > .right-border {
    content: "";
    position: absolute;
    background-repeat: repeat;
    opacity: 0.9;
}

/* Topo */
.border-frame::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: url('/bordas/rt.png');
    background-size: 16px;
}

/* Fundo */
.border-frame::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: url('/bordas/rt.png');
    background-size: 16px;
    transform: rotate(180deg);
}

/* Esquerda */
.border-frame .left-border {
    top: 0;
    left: 1px;
    width: 25px;
    height: 100%;
    position: absolute;
    background-image: url('/bordas/rl.png');
    background-size: 22px;
    
}

/* Direita */
.border-frame .right-border {
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    position: absolute;
    background-image: url('/bordas/rl.png');
    transform: rotate(180deg);
    background-size: 22px;
}


/* .lagoa2 {
  background: url("/ultimas-noticias-lagoa-dos-patos-mg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoo 10s linear;
  filter: saturate(1.1);
} */
.btnTroca {
  position: fixed;
  top: 0px;
  left: 0px;
}

.brasao {
  width: 100%;
  text-align: center;
  margin: auto;
}
.backMac {
  background: #3d73b6d2;
  box-shadow: 0 8px 32px 0 rgba(83, 91, 197, 0.37);
  border-radius: 10px;
  box-shadow: inset #70a8ed 0px 5px 8px 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@keyframes aparece {
  from {
    scale: 0.4;
    opacity: 0.3;
    filter: blur(1);
  }
}
.brasao img {
  margin: auto;
  border-radius: 8px;
}
.shado {
  height: 50px;

  width: 400px;
  box-shadow: 0px 110px 50px rgba(0, 0, 0, 0.827);
}
/* .lagoa8 {
  background-image: url("/img/balne-lagoa-dp-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
  filter: saturate(1.1);
} */
@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #1e3a8a; /* azul do Windows 10 */
  animation: spin-fast 0.5s linear infinite; /* Ajuste a duração aqui */
}
.lagoa8 {
  background-repeat: repeat;
  background-image: var(--imagemB);
  background-size: 140px;
  /* background-position: center; */
  border-radius: 12px;
  overflow: hidden;
  background-position: -40px -167px;
}

.log {
   width: 203px;
    height: 209px;
    border-radius: 12px;
    background-image: var(--imagemB);
    background-size: 189px;
    background-position: 10px 16px;
    background-repeat: no-repeat;
}
.vidroPetro {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.bgEscuro {
  background-color: rgba(12, 108, 163, 0.623);
}
